@media only screen and (max-width: 768px) {
  body,main, #app{
    height:auto;
  }
  .root{
    flex-wrap:wrap;
    padding:10px;
  }
  .root .view{
    width:100%;
  }
  .view .display-header{
    margin: 0 auto;
  }
  .root .sidebar{
    width:100%;
    padding:0;
  }
  .month-view .days-header ul li{
    overflow: hidden;
    text-align: center;
    span{
      display: none;
    }
    &:before{
      content: attr(data-shortname);
      display: block;
    }
  }
  .month-view .grid .day{
    height:auto;
    padding:0;
    margin: 0;
    &:before{
      content: '';
      display: block;
      padding-top:100%;
    }
    &:after{
      content: attr(data-tasks);
      display: block;
      width:100%;
      position: absolute;
      bottom:0;
      left:0;
      right:0;
      font-size:10px;
      line-height:12px;
      padding: 0 2px;
    }
    .num{
      // border:1px dotted blue;
      padding: 0;
      line-height:20px;
      font-size:10px;
    }
    &.has-tasks{
      background-color:transparentize( #448AFF, 0.9);

    }
    .add-task{
      display: none !important;
    }
    ul.events{
      display: none;
    }
  }
}
