main, #app {
  height: 100%;
}

.root {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-content: stretch;
  aside {
    width: 25%;
    min-width: 300px;
    box-sizing: border-box;
    padding: 0 15px 15px;
    .widget {
      margin: 10px 0;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);

      background: #fff;
      border-radius: 2px;
      box-sizing: border-box;

      .widget-wr{
        & > * {
          padding: 15px;
        }
        max-height:0;
        overflow: hidden;
        transition:max-height 0.3s;
        &[data-expanded=true]{
          max-height:500px;
        }
      }

      h6 {
        padding: 15px;
       // margin: 5px 0;
        text-align: center;
        font-size:18px;

        background: #2097f3;
        color:#fff;
        position: relative;
        .btn-wr{
          position:absolute;
          top:0;
          right:0;
          bottom:0;
          margin:auto;
        }
        span{

        }
      }

      &.add-task {

        fieldset > * {
          margin: 5px 0;
        }

        .range-selection {
          display: flex;

          .picker-wr {
            width: 50%;
            padding:0 10px;
            label {
              line-height: 22px;

            font-size: 16px;
              z-index: 1;
              cursor: not-allowed;
              transform: scale(0.75) ;
              transform-origin: left top 0px;
              pointer-events: none;
              color: rgba(0, 0, 0, 0.498039);
              -webkit-user-select: none;
            }
            display: flex;
            flex-flow: column;
            &:first-of-type {
              padding-left: 0;
            }
            &:last-of-type {
              padding-right: 0;
            }
          }
          .rc-time-picker {
            width: 100%;



          }


        }
        //.repeat{
        //  display: flex;
        //  align-items: center;
        //  .input-wr{
        //    width:50%;
        //
        //  }
        //  .checkbox{
        //  ///  height:40px !important;
        //
        //  }
        //  .number{
        //      width:100% !important;
        //
        //  }
        //}
      }

      &.current-selection {

        header {
          padding: 15px;
          position: relative;
          background: url("/assets/images/wbg.jpg") no-repeat center center;
          background-size: cover;
          &:after {
            @include abs;
            background: transparentize(#000, 0.8);
            z-index: 0;
            content: '';

          }
          p {
            position: relative;
            z-index: 1;
            color: white;
            // font-weight:bolder;
            font-size: 20px;
            margin: 10px 0;
          }
        }

      }
      .event-list {

        li {
          display: flex;
          margin: 10px 0;
          border-bottom: 1px solid rgb(229, 229, 229);
          padding: 10px 40px 10px 0;
          //  justify-content: space-between;
          align-items: center;
          align-content: stretch;
          position: relative;
          .time-range {
            // width:25%;
            padding-right: 15px;
            & > p {
              //color:$mdl-alt-blue;
              padding: 3px 0;
            }
            & > .diff {
              color: rgb(224, 224, 224);
            }
          }
          .right {
            display: flex;
            flex-flow: column;
            justify-content: space-between;

            p {
              padding: 5px 0;
            }
            .desc {
              font-weight: bolder;
            }
          }
          .btn-holder {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
          }
          .remove-task {

          }
          &:last-of-type {
            border-bottom: none;
          }
        }
      }

      &.search-widget{
        .event-list-wrapper{
          max-height:262px;
          overflow:auto;
          li{
            transition: background 0.3s;
            cursor: pointer;
          }
          li:hover{
            background: transparentize(#000, 0.95);
          }
        }
        .highlighted{
         i{
           color:lighten(#FFC107, 10%) ;
         }
        }
      }
      &:last-of-type {
      //  margin-bottom: 0;
      }
    }
  }

  .view {
    width: 75%;
  }
}

